.IconButton {
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 30%;
  color: white;
  font: inherit;
  background-color: green;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
